#service-caries-title {
    text-align: left;
}

.padding {
    padding-top: 100px;
    padding-bottom: 60px;
}

.information-container {
    align-items: center;
    gap: 30px;
}

.information-container-text {
    width: calc(100% / 12 * 7);
    font-size: 22px;
    line-height: 27px;
    text-align: justify;
    color: var(--color-dark-blue);
}

.information-text-padding {
    padding-bottom: 50px;
}

.information-container-image {
    width: calc(100% / 12 * 5);
    border-radius: 30px;
    overflow: hidden;
    height: 600px;
}

.image {
    object-fit: contain;
    object-position: center;
}

.price-title {
    text-align: center;
}

.price-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.price-detail {
    width: calc(100% / 12 * 11);
    border-radius: 20px;
    padding: 20px;
}

.background-light {
    background-color: #f0f9ff;
}

.background-dark {
    background-color: #e0f2fe;
}

.price-info {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-dark-blue);
}

.price-info-blue {
    color: var(--color-light-blue);
}

.price-info-green {
    color: rgba(38, 153, 42, 1);  
}

.blank-container {
    height: 170px;
}



@media (max-width: 768px) {

    #service-caries-title {
        text-align: center;
    }

    .information-container {
        flex-direction: column;
    }

    .information-container-text {
        width: calc(100% / 12 * 12);
        font-size: 18px;
        line-height: 22px;
    }

    .information-text-padding {
        padding-bottom: 30px;
    }

    .information-container-image {
        width: calc(100% / 12 * 7);
        height: 500px;
    }

    .price-info {
        font-size: 16px;
        text-align: justify;
        line-height: 20px;
    }

}


@media (max-width: 668px) {
    .information-container-image {
        width: calc(100% / 12 * 8);
    }
}

@media (max-width: 650px) {
    .information-container-image {
        width: calc(100% / 12 * 9);
    }
}

@media (max-width: 590px) {
    .information-container-image {
        width: calc(100% / 12 * 10);
    }
}

@media (max-width: 500px) {
    .information-container-image {
        width: calc(100% / 12 * 12);
    }

    .information-container-text {
        font-size: 16px;
    }
}

@media (max-width: 375px) {

    .image {
        object-fit: auto;
        object-position: center;
    }

}










